h1 {
    padding: 20px;
    background-color: lightseagreen;
    color: lightgoldenrodyellow;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.h1-index {
    background-color: lightseagreen;
    color: lightgoldenrodyellow;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

body {
    background-image: linear-gradient(to right, lightgoldenrodyellow 40%, lightseagreen);
}

a {
    text-decoration: none;
}

.derechos:hover {
    color: lightseagreen;
}

.telefono:hover {
    color: lightseagreen;
}

.mail:hover {
    color: lightseagreen;
}

a:hover {
    color: lightgoldenrodyellow;
}

header {
    height: 25px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: lightseagreen;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.tabla {
    width: 30px;
    margin: 30px
}