/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: lightseagreen;
    color: lightgoldenrodyellow;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.h1-index {
    padding: 21px;
    font-family: 'mezcal';
    background-color: lightseagreen;
    color: lightgoldenrodyellow;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

/* fuente propia */
@font-face {
    font-family: 'mezcal';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Mezcal.otf) format('otf'), url(../fonts/mezcal-webfont.woff2) format('woff2'),
        url(../fonts/mezcal-webfont.woff) format('woff');
}

body {
    font-family: sans-serif;
}

h2 {
    color: lightseagreen;
}

body {
    width: auto;
    height: 100%;
    background-image: linear-gradient(to right, lightgoldenrodyellow 40%, lightseagreen);
}

footer {
    text-align: center;
    vertical-align: bottom;
}

footer div {
    color: grey;
}

.imagen {
    display: flex;
    justify-content: left;

}

img {
    width: 650px;
    margin: 10px;
}

a {
    text-decoration: none;
    padding: 5px;
}

.derechos:hover {
    color: lightseagreen;
}

.telefono:hover {
    color: lightseagreen;
}

.mail:hover {
    color: lightseagreen;
}

a:hover {
    color: lightgoldenrodyellow;
}

header {
    height: 25px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: lightseagreen;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

header a {
    font-weight: bold;
}

.tabla {
    width: 30px;
    margin: 30px;
}

.formulario {
    background-color: lightseagreen;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

}

.formulario div {
    padding: 5px;
}

.formulario input {
    width: 200px;
    background-color: lightgoldenrodyellow;
}

.formulario select {
    width: 208px;
    background-color: lightgoldenrodyellow;
}

.btn-submit {
    padding: 10px;
    border-radius: 50%;
    box-shadow: inset 2px 2px 17px lightseagreen;
}

.btn-submit:hover {
    box-shadow: inset 2px 2px 20px lightseagreen, inset 2px 2px 20px lightseagreen;
}

.enlaceGitHub {
    font-size: 20px;
    font-weight: bold;
}

.ul-contacto {
    list-style: none;
}

.fa-solid {
    color: lightseagreen;
}

.fa-solid {
    color: lightseagreen;
}

.lista-servicios {
    list-style: square;
}

.lista-servicios li {
    margin-bottom: 15px;
}